.label {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}
.textarea {
  width: 100%;
  padding: 10px 15px;
  margin-top: 4px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.4s ease-in-out;
}
.textarea::placeholder {
  color: #ccc;
}
.textarea:focus {
  border: 1px solid #555;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.container {
  position: relative;
  font-size: 12px;
}
.counter {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: #ccc;
}
.counterError {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: red;
}
